body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  max-width: 400px;
  background: #fff;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
}

form input,
form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}


#message {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

li button {
  background: red;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}
